[submodule "external/SwiftHamcrest"]
	path = external/SwiftHamcrest
	url = https://github.com/nicolaschriste/SwiftHamcrest.git
[submodule "tools"]
	path = tools
	url = https://github.com/nicolaschriste/devtools.git
